<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Text</th>
	</tr>
	<% @articles.each do |article|%>
	<tr>
		<td><%= article.id %></td>
		<td><%= article.title %></td>
		<td><%= article.text %></td>
		<td><%= button_to 'View', article_path(article), :class => 'btn btn-success', :method => 'get'%></td>
		<td><%= button_to 'Edit', edit_article_path(article), :class => 'btn btn-warning', :method => 'get' %></td>
	</tr>
	<% end %>
</table>
<%= button_to 'New Post', new_article_path, :class => 'btn btn-primary', :method => 'get' %>